* {
  margin: 0;
  box-sizing: border-box;
  
  color: #2b2d2f;
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
  font-weight: 400;
}
button{
  user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
  font-family: 'Ubuntu', sans-serif; /* Replace with your preferred font */
}

/* Styles for individual heading levels */
h1 {
  font-size: 2em;
  color: white;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  color: white;
}

h3 {
  font-size: 1.2em;
  color: #777;
}

h4 {
  font-size: 1.1em;
  color: #888;
}

h5 {
  font-size: 1em;
  color: #202020;
}

h6 {
  font-size: 0.8em;
  color: #aaa;
}